.typediv{
    background-color: rgb(212, 212, 212);
    margin-top: 3rem;
    width: 25rem;
    height: 10rem;

    box-shadow: 2px 2px 2px black;

    border-radius: 1rem;
    padding: 1rem;

    font-size: 10px;
}


.typesContainer{
    height: 50%;
    display: flexbox;

    span{
        color: white;
        padding: 5px 2rem;
        margin-top: 5px;
        border-radius: 10px;
        font-size: 15px;
        margin-left: 3px;
        display: inline-block;
    }
}


.grass{
    background-color: #9BCC50;
}

.poison{
    background-color: purple;
}

.fire{
    background-color: orangered;
}

.psychic{
    background-color: plum;
}

.ice{
    background-color: rgb(57, 192, 192);
    color: black;
}

.flying{
    background: rgb(26,156,171);
    background: linear-gradient(180deg, rgba(26,156,171,1) 0%, rgba(98,98,98,1) 71%);
}